* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--white);
}
:root {
    --white: #eee;
    --black: #333;
    --brown: #272121;
    --slate-brown: #443737;
    --extra-slate-brown: #a1887f;
}
body {
    background-color: var(--brown);
}
.App {
    display: flex;
    justify-content: center;
}